
body{
    background-image: url(https://img.freepik.com/fotos-premium/hermosas-nubes-sobre-fondo-cielo-azul_34251-117.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    border: 4px solid black;
    display:flex;
    align-items: center;
    justify-content: center;

}

h1{
    text-align: center;
    text-decoration: underline;
}

a{
    color:brown;
    font-weight: bold;
}

.inicio{
    font-size: 1.5em;
    color:black;
    text-decoration: dotted;
}


